<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/images/qlikview.png" type="image/x-icon">
  <title>Qlik Tutorial</title>

  <!-- Bootstrap core CSS -->
  <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../css/blog-post.css" rel="stylesheet">
  <script src="../vendor/jquery/jquery.min.js"></script>
  <script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="../js/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="../js/fancyBox/source/jquery.fancybox.pack.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <div class="navbar-brand" href="#">Qlik Sense Desktop</div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="../home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle active color " data-toggle="dropdown" role="button"  aria-expanded="false">Tutorials <span class="caret"></span></a>
            <ul class="black dropdown-menu">
              <li><a id="installBtn" class="nav-link black" href="../install">Installation</a></li>
              <li><a id="dataBtn" class="nav-link black " href="../data">Make Dashboard</a></li>
              <li><a id="restBtn" class="nav-link black " href="api">REST API</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">


        <!-- Post Content Column -->
        <div class="col-lg-8">

          <!-- Title -->
          <h1 class="mt-4">REST API</h1>

          <!-- Date/Time -->
          <p>Posted on February 5, 2018 at 12:00 PM</p>
          <hr>
          <h2>URL:Authentication</h2>
          <p class="lead">https://iot.oip.tm.com.my/api/auth/login</p>
          <hr>
          <h2>METHOD</h2>
          <p class="lead">POST</p>
          <hr>
          <h2>QUERY HEADERS</h2>
          <p class="lead">Name: Authorization <br>
          Value: Bearer 2cf613f9-df94-33d0-a9de-13d07fb59f20</p>

          <hr>
          <h2>BODY</h2>
          <p class="lead">{ <br>
            "username": "demo@mmudc.com", <br>
            "password": "Demo_123" <br>
          }</p>
          <hr>
          <h2>RESPONSE</h2>
           <p class="lead">{ <br>
              <b>"token":</b> "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJkZW1vQG1tdWRjLmNvbSIsInNjb3BlcyI6WyJDVVNUT01FUl<br>
              9VU0VSIl0sInVzZXJJZCI6IjMzZDhjMmIwLTE2YjctMTFlOC1hY2UxLWU5MWY4ZjRkN2JhZiIsImVuYWJsZWQiOnRydWUsIm<br>
              lzUHVibGljIjpmYWxzZSwidGVuYW50SWQiOiJlY2QxYzgyMC1mYmY1LTExZTctYWUyZS1lOTFmOGY0ZDdiYWYiLCJjdXN0b2<br>
              1lcklkIjoiMzNiMDUzMjAtMTZiNy0xMWU4LWFjZTEtZTkxZjhmNGQ3YmFmIiwiaXNzIjoidGhpbmdzYm9hcmQuaW8iLCJpYX<br>
              QiOjE1MTkyNzQ4NzQsImV4cCI6MTUyODI3NDg3NH0.J7tUBBZk_R5GPfPf9_gcfSag211WQUO4Z5B3_r2_eon7jcymretNV-<br>
              zGYRofykBBNH26cjtXs4AoAFwkfxBafw",<br>
              <br>
              <b>"refreshToken":</b> "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJ0ZW5hbnRAbW11LmVkdS5teSIsInNjb3BlcyI6Wy<br>
              JSRUZSRVNIX1RPS0VOIl0sInVzZXJJZCI6ImVjNmI0ZWQwLTAxN2YtMTFlOC05NTYwLWU5MWY4ZjRkN2JhZiIsImlzUHVib<br>
              GljIjpmYWxzZSwiaXNzIjoidGhpbmdzYm9hcmQuaW8iLCJqdGkiOiIyYWEyYTExYS0xMDE1LTRiNTAtYmIxNy0yYWNlMTNm<br>
              ZjFlOGEiLCJpYXQiOjE1MTkxODAwNDksImV4cCI6MTU1NTE4MDA0OX0.oQmwvNgrB4G_8s7B3qmkOHiZUCJZjp_S61ZFISG<br>
              9hpSeHGg0u-Ubyts-fH_Kr9kY4FXWYRf3QnMfuCbgP_bHQw"<br>
            }</p>

          <hr>

          <h2>URL:Get Humidity and temperature data</h2>
          <p class="lead">https://api.oip.tm.com.my/app/iot/1.0/api/plugins/telemetry/DEVICE/365ad9b0-16b7-11e8-ace1-e91f8f4d7baf/values/timeseries?keys=humidity,temp</p>
          <h4>Parameters</h4>
          <p class="lead">keys=temperature,humidity <br>
            
         
          <hr>
          <h2>METHOD</h2>
          <p class="lead">Get </p>
          <hr>
          <h2>AUTHENTICATION SCHEMA</h2>
          <p class="lead">Basic </p>
          <p class="lead">Username: demo@mmudc.com <br>
          Password: Demo_123 </p>
          <hr>

          <h2>QUERY HEADERS</h2>
          <p class="lead">Name: X-Authorization <br>
          Value: Bearer token</p>
          <p class="lead">Name: Authorization <br>
          Value: Bearer 2cf613f9-df94-33d0-a9de-13d07fb59f20</p>

          <hr>



          <!-- Comment with nested comments -->
          <div class="media mb-4">

          </div>

        </div>

<!-- Sidebar Widgets Column -->
<div class="col-md-4">


  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Oip News</h5>
    <div class="card-body">
      Coming Soon ...
    </div>
  </div>

</div>




      </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Open Innovation Platform 2018</p>
    </div>
    <!-- /.container -->
  </footer>


</body>
<script type="text/javascript">
$(document).ready(function(){
  $(".fancybox").fancybox();


  });
</script>
</html>
