<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="/images/qlikview.png" type="image/x-icon">
  <title>Olik Tutorial</title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/blog-post.css" rel="stylesheet">
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="js/fancyBox/source/jquery.fancybox.css" type="text/css" media="screen" />
  <script type="text/javascript" src="js/fancyBox/source/jquery.fancybox.pack.js"></script>

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Qlik Sense Desktop</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="home">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>

          <li class="nav-item dropdown"><a href="#" class="nav-link dropdown-toggle active color " data-toggle="dropdown" role="button"  aria-expanded="false">Tutorials <span class="caret"></span></a>
            <ul class="black dropdown-menu">
              <li><a id="installBtn" class="nav-link black" href="install">Installation</a></li>
              <li><a id="dataBtn" class="nav-link black " href="data">Make Dashboard</a></li>
              <li><a id="restBtn" class="nav-link black " href="api">REST API</a></li>
            </ul>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">


      <!-- Post Content Column -->
      <div class="col-lg-8">


        <!-- Title -->
        <h1 class="mt-4">Make Dashboard</h1>

        <!-- Author -->
        <p class="lead">
          by
          <a href="https://www.qlik.com/us/products/qlik-sense">Qlik</a>
        </p>

        <hr>

        <!-- Date/Time -->
        <p>Posted on February 5, 2018 at 12:00 PM</p>

        <hr>
        <div class="steps">
          <!-- Post Content -->
          <p class="lead">1.	Clik on <b>“Create new app”</b> button to create a new dashboard sheet. </p>

          <hr>
          <!-- Preview Image -->
          <a class="fancybox " href="images/newApp.jpg"><img class="img-fluid rounded" src="images/newApp.jpg" alt="" width="70%" height="70%"></a>

          <hr>

          <!-- Post Content -->

          <p class="lead">2.	Click on <b>“Open app”</b> and choose the option <b>“Add data from files and other sources”</b> to import data from REST API or Excel </p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/openApp.jpg"><img class="img-fluid rounded" src="images/openApp.jpg" alt=""></a>

          <hr>


          <!-- Post Content -->
          <p class="lead">3.	To import REST API data click on REST button. Key in the <b>URL</b>, <b>method</b>, <b>authentication schema</b> and <b>query headers</b> (if exist) and click on <b>“create”</b> button. Click <a href="api">here</a> for guidelines to import REST API data </p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/import.jpg"><img class="img-fluid rounded" src="images/import.jpg" alt=""></a>

          <hr>
          <!-- Post Content -->
          <p class="lead">4.	Click on <b>“Add data”</b> after necessary changes made to the data. Click on <b>“table”</b> button to edit the data.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/addData.jpg"><img class="img-fluid rounded" src="images/addData.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">5.	Click on the edit icon in the table <b>“rsrp”</b> to change the name of the field, to create a new field and so on.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/edit.jpg"><img class="img-fluid rounded" src="images/edit.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">6.	Click on <b>“Load data”</b> after making necessary changes. Click on <b>edit the sheet</b> upon receiving a pop up menu.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/load.jpg"><img class="img-fluid rounded" src="images/load.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">7.	Click on <b>charts</b> and select <b>“line chart”</b> to project a line chart into the sheets.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/line.jpg"><img class="img-fluid rounded" src="images/line.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">8.	Click on the <b>add dimension</b> and select Time to add it as the X-axis value.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/sheet.jpg"><img class="img-fluid rounded" src="images/sheet.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">9.	Click on <b>Add measure</b> and select rsrp followed by Sum(rsrp) to add it as the y-axis value.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/measure.jpg"><img class="img-fluid rounded" src="images/measure.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">10.	Click on <b>Appearance</b> and select <b>X-axis</b> and change the labels and title to “title only”.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/appearance.jpg"><img class="img-fluid rounded" src="images/appearance.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">11.	<b>Click on the title</b> to edit the title of the line chart.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/addTitle.jpg"><img class="img-fluid rounded" src="images/addTitle.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">12.	Click on<b> “done”</b> when done with editing.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/done.jpg"><img class="img-fluid rounded" src="images/done.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">13.	The header of the page can be edited by clicking on the <b>“…”</b> next to the title of the sheet.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/header.jpg"><img class="img-fluid rounded" src="images/header.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">14.	To create a webpage with using the sheets created, go to <b>home</b> and click on <b>“…”</b> located at the most right of the page and select <b>“Dev Hub”</b>.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/create.jpg"><img class="img-fluid rounded" src="images/create.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">15.	Click on <b>“mashup editor”</b> to make a webpage with the sheets data.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/mashup.jpg"><img class="img-fluid rounded" src="images/mashup.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">16.	Click on <b>create new mashup</b> to create a new page template. Select <b>Grid mashup template</b> for the page. </p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/grid.jpg"><img class="img-fluid rounded" src="images/grid.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">17.	Click on the <b>“select an app”</b> to select the sheets to be included into the page.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/app.jpg"><img class="img-fluid rounded" src="images/app.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">17.	Drag and drop the charts on the left panel and drop it on the desired layout in the page.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/layout.jpg"><img class="img-fluid rounded" src="images/layout.jpg" alt=""></a>

          <hr>

          <!-- Post Content -->
          <p class="lead">18.	Html page can be edited by accessing the html tab.</p>
          <hr>

          <!-- Preview Image -->
          <a class="fancybox" href="images/html.jpg"><img class="img-fluid rounded" src="images/html.jpg" alt=""></a>

          <hr>
        </div>

        <!-- Comment with nested comments -->
        <div class="media mb-4">

        </div>


      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">



        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Oip News</h5>
          <div class="card-body">
            Coming Soon ...
          </div>
        </div>

      </div>




    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Open Innovation Platform 2018</p>
    </div>
    <!-- /.container -->
  </footer>


</body>
<script type="text/javascript">
$(document).ready(function(){
  $(".fancybox").fancybox();
  $("a[href$='.jpg']").fancybox();

});
</script>
</html>
